# MongoDB Connection
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.obdwazm.mongodb.net/hockey_elite_db?appName=Cluster0"

# Authentication
AUTH_SECRET="your-jwt-auth-secret"
AUTH_URL="http://localhost:3000"

# Stripe Payments
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."

# Groq AI Assistant
GROQ_API_KEY="gsk_..."

# Resend Email
RESEND_API_KEY="re_..."

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dqaurp8tl"
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Pusher
PUSHER_APP_ID="2149980"
NEXT_PUBLIC_PUSHER_KEY="3d2ada18a4e8a0ef2f4e"
PUSHER_SECRET=""
NEXT_PUBLIC_PUSHER_CLUSTER="mt1"
